.wapper {
    margin: 100px 10% 0;
}

.title-h2 {
    font-weight: 900;
}

.title-text {
    display: flex;
    justify-content: space-between;

}

.title-text__p {
    margin-right: 40px;
}

.title-h5 {
    font-weight: 900;
}

.title-h6 {
    font-weight: 700;
}