.wapper {
    margin: 20px 10% 0;
    margin-top: 100px;  
}

.title {
    font-weight: 900;
}

.navbar {
    margin-top: 30px;
}

.car__btn {
    padding: 5px 30px;
    background-color: #fff;
    border: 0.1px solid #bbb;

    &:hover {
        background-color: var(--primary);
        color: var(--text-color);
        border: 0.1px solid var(--primary);
    }

    &:focus {
        background-color: var(--primary);
        color: var(--text-color);
        border: 0.1px solid var(--primary);
        outline: none;
    }
}

.car__list {
    display: flex;
    flex-wrap: wrap;
}
