.wapper {
    margin: 0 10%;
}

.container {
    position: relative;
    display: flex;
    margin-top: 60px;
    padding-bottom: 650px;
}


.banner1 {
    width: 1000px;
    position: absolute;
    right: -100px;
    z-index: 99;
}

.banner2 {
    width: 660px;
    position: absolute;
    right: -115px;
    top: 90px;
}


.contain {
    display: flex;
    flex-direction: column;
}

.contain-imgs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.contain-img {
    width: 49%;
}
