.wapper {
    margin: 0 10%;
}

.container {
    position: relative;
    display: flex;
    margin-top: 60px;
}

.banner {
    
}

.banner1 {
    width: 1000px;
    position: absolute;
    right: -100px;
    z-index: 99;
}

.banner2 {
    width: 660px;
    position: absolute;
    right: -115px;
    top: 90px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
