.wapper {
    margin: 0 10%;
}

.container {
    position: relative;
    display: flex;
    margin-top: 60px;
    padding-bottom: 550px;
}

.text {
    margin-top: 40px;
    font-weight: 900;
}

.banner1 {
    width: 1000px;
    position: absolute;
    right: -100px;
    z-index: 99;
}

.banner2 {
    width: 660px;
    position: absolute;
    right: -115px;
    top: 90px;
}


.contain {
    display: flex;
    flex-direction: column;
}

.contain-imgs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.contain-img {
    width: 49%;
}

.owner-items {
    display: flex;
    
}

.owner-items {
    text-align: center;
}

.owner-item__h5 {
    font-weight: 700;
}

.owner-item__icon {
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 20px;
}

.owner-item__h2 {
    text-align: center;
    font-weight: 100;
    margin-bottom: 60px;
    margin-top: 50px;
}

.owner-item__p {
    color: rgb(129, 126, 126);
}

.owner-item__link {
    color: var(--main);
    font-weight: 500;
}

