.wapper {
    background-color: #181821;
}

.wapper-child {
    display: flex;
    justify-content: space-between;
    margin: 100px 10% 0;
    color: #fff;
}

.contain {
    margin: 50px 0;
}

.contact-icon {
    padding-right: 10px;
}

.contact-icon__p {
    font-size: 0.9rem;
}